# =========================
# IDE / editor
# =========================
.idea/
*.iml
out/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Java / Spring Boot
# =========================
target/
*.class
*.log

# Maven wrapper cache / generated
!.mvn/wrapper/maven-wrapper.jar

# =========================
# Angular / Node
# =========================
node_modules/
.angular/
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Misc
# =========================
*.tmp
*.swp