<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      @if (loading$ | async) {
        <div>Betöltés...</div>
      }

      @if (error$ | async; as error) {
        <div class="alert alert-danger">
          {{ error }}
        </div>
      }

      <div class="row">
          @for (product of (products$ | async) ?? []; track product.id) {
          <div class="col-md-3">
            <div class="product-box">
                <a routerLink="/products/{{product.id}}">
                    <img
                            [src]="product.imageUrl"
                            alt="no images"
                            class="img-responsive"
                    />
                </a>
                <a routerLink="/products/{{product.id}}">
                    <h1>{{ product.name }}</h1>
                </a>
              <div class="price">{{ product.unitPrice | currency:'USD' }}</div>
              <a href="#" class="primary-btn">Add to cart</a>
            </div>
          </div>
        } @empty {
          <div class="col-md-12">
            <h1>No products found</h1>
          </div>
        }
      </div>

        <div class="footer-pagination">
            <div class="row">
                <div class="col-md-9" style="padding-left: 30%">
                    <ngb-pagination
                            [collectionSize]="(totalElements$ | async) ?? 0"
                            [pageSize]="(pageSize$ | async) ?? 10"
                            [page]="((pageNumber$ | async) ?? 0) + 1"
                            [maxSize]="5"
                            [boundaryLinks]="true"
                            [ellipses]="true"
                            (pageChange)="goToPage($event - 1)"
                    >
                    </ngb-pagination>
                </div>
                <div class="col-md-3 mt-2" style="text-align: right;">
                    <span class="pr-4">Page Size</span>

                    <select #myPageSelect (change)="changePageSize(myPageSelect.value)" )>
                        <option selected="selected">5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>

