<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      @if (loading$ | async) {
        <div>Betöltés...</div>
      }

      @if (error$ | async; as error) {
        <div class="alert alert-danger">
          {{ error }}
        </div>
      }

      <div class="row">
        @for (product of (products$ | async) ?? []; track product) {
          <div class="col-md-3">
            <div class="product-box">
                <a routerLink="/products/{{product.id}}">
                    <img
                            [src]="product.imageUrl"
                            alt="no images"
                            class="img-responsive"
                    />
                </a>
                <a routerLink="/products/{{product.id}}">
                    <h1>{{ product.name }}</h1>
                </a>
              <div class="price">{{ product.unitPrice | currency:'USD' }}</div>
              <a href="#" class="primary-btn">Add to cart</a>
            </div>
          </div>
        } @empty {
          <div class="col-md-12">
            <h1>No products found</h1>
          </div>
        }
      </div>
    </div>
  </div>
</div>

